@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$text: #F3FCFF;
$text-hover: #d4dde0;
$text-hover-light: #FFFF;
$background: #252323;
$seperators: #35313a;
$primary: #5ac8f0;
$secondary: #777FFF;
$accent: #6a72e6;
$foreground:#1d1b1b;

$stars-count: 500;
$star-size: random(3) + 1;
$star-color: #f3fcff;
$starry-background-color: #252323;


* {
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    font-family: 'Raleway', sans-serif;
    color:$text;
    margin: 0;
    padding: 0;
    background-color: $background, 0.7;

    .highlight {
        color: $primary;
    } 

    .loading-screen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $foreground;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: transform 0.5s ease-in-out;
      z-index: 9999;
    }
    
    .slide-down {
      transform: translateY(100%);
    }
}



// General Styles for components outwith certain pages.

.navbar {
    position: fixed;
    top: 0;
    z-index: 9998;
    min-height:60px;
    width:100%; // Make the navbar full width
    margin:0 auto;
    display: flex;
    justify-content: space-between; // Distribute items evenly
    align-items: center; // Vertically align items
    padding: 20px;
    transition: background-color 0.3s ease;

    @media (max-width: 800px) {
        width:100%;
        margin:0;
        display:flex;
        justify-content: space-between;
    }
  
    &.scrolled {
      max-width: 100%;
      background-color: rgba($foreground, 0.8);
      margin: auto;
    }
  
    .navbar__links,
    .navbar__button {
        font-family: 'Raleway', sans-serif;
        display: flex;
        align-items: center;

        @media (max-width: 800px) {
            display: none; // Hide on small screens
        }
    }

    .hamburger-menu {
        display: none; // Hide by default
        cursor: pointer;
        position:relative;
      
        .hamburger-menu__line {
            height:30px;
            width:25px;

          span {
            margin:10px 0 0 0;
            display: block;
            position: absolute;
            height: 3px;
            width: 25px;
            background: $secondary;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            top: 0; // Adjust this as necessary
      
            &:nth-child(1) {
                transform: rotate(0deg);
                top:-10px;
            }
      
            &:nth-child(2) {
                left: 0px;
            }
      
            &:nth-child(3) {
                top: 10px;
                transform: rotate(0deg);
            }
          }
        }
      
        &.open {
          .hamburger-menu__line {
            span {
              &:nth-child(1) {
                transform: rotate(135deg);
                top:0;
              }
      
              &:nth-child(2) {
                opacity: 0;
                left: -60px;
              }
      
              &:nth-child(3) {
                top: 0;
                transform: rotate(-135deg);
              }
            }
          }
        }
      
        @media (max-width: 800px) {
          display: block; // Show on small screens
        }
      }
      
    .navbar__links--mobile {
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center; // Center align items
        justify-content: space-around; // Equal spacing
        position: absolute;
        top: 108px;
        left: 0;
        width: 100vw;
        background: $foreground;
        padding: 20px 20px 30px 20px;
        box-sizing: border-box;
        transition: transform 0.3s ease-in-out;

        button {
            font-family: 'Raleway', sans-serif;
            color:$text;
            border:none;
            display: block;
            width: 100%; // Take up full width
            text-align: center; // Center text
            padding: 10px 0; // Add vertical padding
            position: relative; // Add this
            background:none;
            cursor: pointer; // Add this
          
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 100%;
              transform: translateX(-50%);
              height: 1px;
              background: radial-gradient(circle at center, $secondary, $foreground);
            }
          }

        &.open {
            max-height: none;
            opacity: 0.8;

            button {
                margin-bottom: 0; // Remove bottom margin
            }
        }

        @media (max-width: 800px) {
            display: block;
        }
    }

    .navbar__logo {
      position: absolute; // Make the logo absolute
      left: 50%; // Center it horizontally
      transform: translateX(-50%) translateY(5px); // Adjust for its own width
  
        @media (max-width: 800px) {
            position:static;
            left:auto;
            transform:none;
        }

        img {
            width: 100px;
            height: auto;
        }
    }
  
    .navbar__links {
      justify-content: flex-start;
      margin-left:40px;
  
      button {
        font-family: 'Raleway', sans-serif;
        color: $text;
        background: none;
        border: none;
        margin-right: 20px;
        cursor:pointer;
  
        &:hover {
          color: $text-hover;
        }
      }
    }
  
    .navbar__button {
        justify-content: flex-end;
        margin-right:40px;
        
        .attention-button {
          position: relative;
          background: transparent;
          border: 2px solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(to bottom, $primary, $secondary);
          color: $text;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          overflow: hidden;
          transition:transform 0.3s ease-in-out;


          .email-icon{
            margin-left:10px;
            font-size:15px;
          }
    
          &:before {
            content: "";
            position: absolute;
            bottom: 0; // Start from the bottom
            left: 0;
            width: 100%;
            height: 0; // Initial height is 0
            background: linear-gradient(to bottom, $primary, $secondary);
            transition: height 0.5s;
            z-index: -1;
          }
    
          &:hover {
            font-family: 'Raleway', sans-serif;
            color: $text-hover-light;
            transform: scale(1.07);
    
            &:before {
                height: 100%; // Fill up on hover
            }
          }
        }
    }
  
    .projects-dropdown {
        display: flex;
        align-items: center;
    
        .dropdown-button {
            transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
            cursor: pointer;
            margin:5px 0 0 -20px;
    
            img {
                width: 14px;
                height: auto;
            }

            &:hover {
                filter: brightness(0.8); // Darken on hover
            }

            &.open {
                transform: rotate(180deg) translateY(5px); // Flip when open
            }
        }

      .dropdown-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        display: none;
        position: absolute;
        background-color: $foreground;
        top:70px;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
  
        a {
          color: $text;
          background: none;
          border: none;
          display: block;
          font-size: 12px;
          text-decoration: none;
          text-align: left;
          width: 100%;
          padding: 10px 0;
  
          &:hover {
            color: $text-hover;
          }
        }

        button{
            color: $primary;
            background: none;
            border: none;
            display: block;
            font-size: 12px;
            text-decoration: none;
            text-align: left;
            width: 100%;
            padding: 10px 0;
            cursor: pointer;
    
            &:hover {
              color: $secondary;
            }
        
        }
      }
  
      &.open .dropdown-content {
        display: block;
        max-height:500px;
      }
    }
}

.cv-download {
  z-index: 4;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;

  .rotating-image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    animation: rotation 7s infinite linear;
  }

  a{
    z-index: 5;
    color: $accent;
    font-size: 24px;
    margin-right:23px;
    margin-bottom:13px;
    cursor:pointer;
  }


  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

footer {
  padding: 20px;
  text-align: center;
  background-color: $background;
  position:relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 1px;
    background: radial-gradient(circle at center, $seperators, $background);
  }

  .top-section-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    .logo-section {
      flex: 1;
      padding-top:10px;

      img {
        width: 100px;
        height: auto;
        object-fit: cover;
      }
    }

    .links-section {
      flex: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      button {
        margin: 20px 10px 30px 10px;
        background:none;
        border:none;
        color:$text;
        font-size: 16px;
        cursor:pointer;
        transition:color 0.3s ease-in-out;

        @media (max-width: 500px) {
          margin:20px 5px 30px 5px;
          font-size:14px;
        }

        &:hover {
          color: $text-hover;
        }
      }
    }

    .social-media-section {
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top:5px;

      a {
        color: $text;
        font-size: 24px;
        margin: 0 10px 10px 10px;
        cursor:pointer;

        &:hover {
          color: $text-hover;
        }
      }
    }
  }

  hr {
    background-color: $accent;
    height: 2px;
    width: 87%;
    margin: 20px auto;
    border:none;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

    .left, .right {
      color:$text-hover;
    }
  }

  @media (max-width: 768px) {
    .top-section-footer, .bottom-section {
      flex-direction: column;
    }
  }
}


// Styles for home page only

.hero-section-top{

  .hero-section {
    position: relative;
    width: 100%;
    height: 100vh; // Adjust this to the height of your hero section
    background-color: #252323;
    overflow: hidden;

    .star {
      position: absolute;
      background-color: #f3fcff;
      border-radius: 2px;
      width: 0.5px; // Adjust this to change the size of the stars
      height: 0.5px; // Adjust this to change the size of the stars
      transform: rotate(45deg); // Rotate the square to create a diamond shape
      animation: star-flicker 2s linear infinite;
      animation-delay: inherit;
      transition: top 0.5s, left 0.5s; // Add this line

      @keyframes star-flicker {
        0%, 100% {
          opacity: 0.05; // Minimum brightness
        }
        50% {
          opacity: 0.5; // Maximum brightness
        }
      }
    }
    .overlay {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(circle at center, rgba(37, 35, 35, 1) 50%, transparent 100%);
      pointer-events: none; // This allows mouse events to pass through the overlay
    }
    
    .hero-section__content {
      cursor:default;
      z-index: 3;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh; // This will make it take up the full height of the viewport
      text-align: center;
    
      .hero-subheading {
        font-size: 1.7em; // Adjust as needed
        margin:0;
      }

      .top-text {
        font-weight:700;
        position:absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 1000px) {
          position:initial;
          top:0;
          left:0;
          transform:none;
        }
      }

      .bottom-text{
        font-weight:700;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em; // Adjust as needed
        margin:0;
        padding-top:10px;


        @media (max-width: 900px) {
          padding-top:10px;
        }
      }
    
      .hero-header {
        margin: 0;
        font-size: 7em; // Adjust as needed
        background: linear-gradient(to bottom, $primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #252323;
        -webkit-text-stroke: 3px transparent; // Adjust stroke width as needed
        color: none;

        @media (max-width: 900px) {
          font-size: 4em;
        }
      }

        @keyframes scroll {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(10px);
          }
          100% {
            transform: translateY(0);
          }
        }
      }

      .hero-section__scroll{
        z-index: 3;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5em;
        color: $text;
        cursor: pointer;
        animation: scroll 1s infinite;
        transition: color 0.3s ease-in-out;

        @media (max-width: 1000px) {
          left:48%;
        }
    }
  }
}

.split-section {
  background-color: $background;
  display: flex;
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 1px;
    background: radial-gradient(circle at center, $seperators, $background);
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    min-height: auto;
  }

  .text-side, .image-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      width: 100%;
      flex-direction: column;
      margin:auto;
    }
  }

  .image-side{

    @media (max-width: 1000px) {
      display:none;
    }
    img {
      margin-top:80px;
      width:80%;
      height: auto;

      @media (max-width: 1100px) {
        width: 100%;
        margin:0;
      }
    }
  }

  .text-side {
    position: relative;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Aligns items to the left */
    text-align: left;
    margin: 0 70px;

    @media (max-width: 1000px) {
      align-items: center; /* Center-aligns items */
      text-align: center; /* Center-aligns text */
      margin: 40px 0 40px 0; /* Adds spacing above */
      width: 100%; /* Sets the width to 90% */
    }

    .header-highlight {
      background: linear-gradient(to bottom, $primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .text-collapsed {
      display:none;
      white-space: wrap;
      max-width: 1000px; /* Adjust as needed */

      @media (max-width: 1000px) {
        display:block;
      }
    }

    .textExpander{
      display: none;
      

      @media (max-width: 1000px) {
        font-family: 'Raleway', sans-serif;
        display: flex;
        align-items: center;
        background: transparent;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to bottom, $primary, $secondary);
        color: $text;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer; /* Show the button when the view width is 1000px or smaller */
      }

      &:hover {
        color: $text-hover;
      }
    }
    
    .text-expanded {
      max-width: 100%; /* Adjust as needed */
      display: none;

      @media (max-width: 1000px) {
        display:block;
      }
    }
  
    .tag {
      position: absolute;
      top: 110px;
      left: 0;
      background: linear-gradient(to bottom, $primary, $secondary);
      padding: 3px;
      border-radius: 2px;
      margin: 0;
    
      @media (max-width: 1000px) {
        margin-top:70px;
        top: 0px; /* Position at the top */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for the width of the element */
      }
    
      .tagP {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        font-weight: 800;
        margin: 0;
        color: $background;
        text-wrap: nowrap;
      }
    }
  
    h1, .AboutMeText, hr, .bottom-section {
      width: 100%;
      text-wrap: wrap; /* Ensures these elements take up the full width of .text-side */
      
      @media (max-width: 1000px) {
        margin:20px;
        
      }
    }
  
    h1 {
      font-size: 75px;
      margin: 0;

      @media (max-height: 900px) {
        padding-top:7%;
      }
      
      @media (max-width: 1400px) {
        margin-top:55px;
        font-size: 3.5em;
      }

      @media (max-width: 1000px) {
        margin-top:30px;
        font-size: 3em;
      }

      @media (max-width: 800px) {
        margin-top:30px;
        font-size: 3em;
      }
    }
  
    .AboutMeText {
      max-width:90%;
      font-size:16px;
      margin: 10px 0 0 0; /* Removes the left margin */

      @media (max-width: 1000px) {
        display:none;
      }
    }
  
    hr {
      position:relative;
      margin:20px 0 20px 0;
      border: none; /* Removes the default border */
      height: 5px; /* Sets the height */
      background: linear-gradient(to right, $primary, $secondary); /* Creates a gradient from $primary to $secondary */
      background-size: 100% 50%; /* Sizes the backgrounds */
      background-repeat: no-repeat; /* Prevents the backgrounds from repeating */
      background-position: bottom, top; /* Positions the backgrounds */

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(to right, transparent, $background); /* Adjust the color and opacity as needed */
      }

      @media (max-width: 1000px) {
        &:before {
          display: none;
        }
      }
    }
  
    .bottom-section {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1000px) {
        margin:0;
      }

      @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
      }
  
      .social-media {
        display: flex;
        align-items:flex-start;
        width: 50%; /* Takes up half the width of the bottom div */
        margin:5px 0 0 0;

        @media (max-width: 400px) {
          justify-content: space-around;
          width:100%;
        }
        
        a{
          color:$text;

          &:hover {
            color: $text-hover;
          }
        }

        @media (max-width: 400px) {
          margin-top:0;
          margin-bottom:20px;
        }

        .twitter-logo,
        .linkedin-logo {
          margin-left: 20px; /* Adjust as needed */
        }
      }
    
      .read-more {
        font-family: 'Raleway', sans-serif;
        display: flex;
        align-items: center;
        position: relative;
        background: transparent;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to bottom, $primary, $secondary);
        color: $text;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        overflow: hidden;
        transition:transform 0.3s ease-in-out;
        margin:0 40px 0 0;

        @media (max-width: 1000px) {
          margin:0;
        }

        .button-text{
          margin-right:10px;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0; // Start from the bottom
          left: 0;
          width: 100%;
          height: 0; // Initial height is 0
          background: linear-gradient(to bottom, $primary, $secondary);
          transition: height 0.5s;
          z-index: -1;
        }
  
        &:hover {
          font-family: 'Raleway', sans-serif;
          color: $text-hover-light;
          transform: scale(1.07);
  
          &:before {
              height: 100%; // Fill up on hover
          }
        }
      }
    }
    
    @media (max-width: 1000px) {
      flex-direction: column;
    
      .text-side, .image-side {
        width: 100%;
      }
    }
  }
}
